QWidget {
    background-color: #f0f0f0;
}



QPushButton {
    font-size: 22px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 15px 32px;
    cursor: pointer;
}

#enterBtn:hover {
    background-color: #45a049;
}
